<h1>Main#index</h1>
<p>Home Page - serves two purposes: 
first is to view all books, second is 
to contain handlers (e.g., links or buttons) 
to perform the CRUD (i.e., create, read, update, delete) functions.</p>
